#body{
    width: 100% !important;
    min-height: 100% !important;
    background-repeat: no-repeat !important;
    background-attachment:fixed !important;
    /* background-position: center !important; */
    background-size: cover !important;
}

#contact {
    background-color: #245c89;
    background-image: url('/assets/img/map-image.png');
    background-repeat: no-repeat;
    background-position: center;
}

#fixedbutton {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.title-large {
    font-size: 3vh; /* 默认使用 vh 单位，适合移动设备 */
    font-weight: bolder;
}

.title-xlarge {
    font-size: 4vh;
    font-weight: bolder;
}

.title-medium {
    font-size: 2.5vh;
}

/* 使用媒体查询为桌面设备设置较大的字体 */
@media (min-width: 768px) {
    .title-large {
        font-size: 3vw; /* 使用 vw 单位，让字体在桌面设备更大 */
    }

    .title-xlarge {
        font-size: 4vw;
    }

    .title-medium {
        font-size: 2.5vw;
    }
}